<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ChatelainHeumelContacts">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.ChatelainHeumelContacts.ScanQRCode"
            android:label="@string/title_activity_scan_qrcode"
            android:parentActivityName="com.example.ChatelainHeumelContacts.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ChatelainHeumelContacts.com.example.ChatelainHeumelContacts.MainActivity" />
        </activity>
        <activity
            android:name="com.example.ChatelainHeumelContacts.CreaQRCode"
            android:label="@string/title_activity_crea_qrcode"
            android:parentActivityName="com.example.ChatelainHeumelContacts.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ChatelainHeumelContacts.Activity_modification"
            android:label="@string/title_activity_modification"
            android:parentActivityName="com.example.ChatelainHeumelContacts.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ChatelainHeumelContacts.com.example.ChatelainHeumelContacts.MainActivity" />
        </activity>
        <activity
            android:name="com.example.ChatelainHeumelContacts.Activity_envoie"
            android:label="@string/title_activity_envoie"
            android:parentActivityName="com.example.ChatelainHeumelContacts.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ChatelainHeumelContacts.com.example.ChatelainHeumelContacts.MainActivity" />
        </activity>
        <activity
            android:name="com.example.ChatelainHeumelContacts.Activity_vision"
            android:label="@string/title_activity_vision"
            android:parentActivityName="com.example.ChatelainHeumelContacts.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ChatelainHeumelContacts.com.example.ChatelainHeumelContacts.MainActivity" />
        </activity>
        <activity
            android:name="com.example.ChatelainHeumelContacts.Activity_ajout"
            android:label="@string/title_activity_ajout"
            android:parentActivityName="com.example.ChatelainHeumelContacts.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ChatelainHeumelContacts.com.example.ChatelainHeumelContacts.MainActivity" />
        </activity>
        <activity
            android:name="com.example.ChatelainHeumelContacts.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>